fastapi==0.111.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
bcrypt==5.0.0
python-dotenv==1.0.1
pydantic-settings==2.8.1
pydantic[email]==2.11.5
